
<div class="wrapper" style="background-image: url('assets/login/images/bg-registration-form-1.jpg');">

    <div class="inner">
        <div class="image-holder">
            <img src="assets/login/images/d01fde54-9e11-404b-8ede-7cd17eaf5f56.png" alt="Background Image">
        </div>
        <form action="">
            <h3>LOGIN</h3>
            <div class="form-wrapper">
                <input type="text" placeholder="Username" class="form-control">
                <i class="zmdi zmdi-account"></i>
            </div>
            <div class="form-wrapper">
                <input type="text" placeholder="Email Address" class="form-control">
                <i class="zmdi zmdi-email"></i>
            </div>
            <div class="form-wrapper">
                <input type="password" placeholder="Password" class="form-control">
                <i class="zmdi zmdi-lock"></i>
            </div>

             <!-- Lien vers la page d'inscription -->
            <div class="signup-link">
                <p>Pas encore de compte ? <a href="/register">Inscrivez-vous ici</a></p>
            </div>

            <button (click)="navigatetoDashboard()">Se Connecter
                <i class="zmdi zmdi-arrow-right"></i>
            </button>
        </form>

    </div>
</div>

